@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 21px
        &_link
            font-size: 11px
    .promo    
        &_header
            font-size: 45px
    .reason
        &_item
            align-items: flex-start
    .col_text
            width: 300px
            font-size: 15px
            padding: 18px 0 25px 0
    .mobile
        &_item 
            width: 305px
            height: 275px
            &_subtitle 
                font-weight: normal
                font-size: 21px
    .footer
        &_divider
            height: 3px
        &_menu
            margin-top: 16px
    .nav_link 
        font-size: 9px
    .link_lang 
        font-size: 9px
@media (max-width: 991px)
    .menu
        &_item
            padding-right: 8px
        &_link
            font-size: 10px
    .subheader
        &_logo
            img
                width: 100%
        &_official
            font-size: 11px
        &_phone 
            font-size: 20px
        &_btn
            width: 150px
            height: 40px
            font-size: 13px
    .promo    
        &_header
            font-size: 40px
        &_subheader
            font-size: 30px
    .reason
        &_item
            flex-direction: column
            align-items: center
    .mobile
        &_item 
            width: 227px
            height: 227px
            &_subtitle 
                font-weight: normal
                font-size: 15px
    .footer
        &_divider
            height: 2px
            width: 236px
        &_menu
            margin-top: 14px
            margin-bottom: 4px
    .nav_link 
        font-size: 7px
    .link_lang 
        font-size: 7px
    .subheder_h2
        font-size: 32px
    .link_apps
        img
            width: 27%
@media (max-width: 767px)
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0,0,0,.8)
        transition: 0.6s all
        &_active
            left: 0
        &_item
            padding-right: 0
            border: none
            margin: 10px 0
        &_link
            font-size: 20px
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            margin-bottom: 2px
